<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/logoeditado.png">
    <link rel="stylesheet" href="css/grid-gallery.css">
    <title>Galeria de Julio</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item wide" style="background: url(/img/galeriaJulio/1.JPG)"></div>
        <div class="grid-item" style="background: url(/img/galeriaJulio/2.JPG)"></div>
        <div class="grid-item tall" style="background: url(/img/galeriaJulio/3.JPG)"></div>
        <div class="grid-item" style="background: url(/img/galeriaJulio/4.JPG)"></div>
        <div class="grid-item" style="background: url(/img/galeriaJulio/5.JPG)"></div>
        <div class="grid-item wide" style="background: url(/img/galeriaJulio/6.JPG)"></div>
        <div class="grid-item" style="background: url(/img/galeriaJulio/7.JPG)"></div>
        <div class="grid-item" style="background: url(/img/galeriaJulio/8.JPG)"></div>
        <div class="grid-item" style="background: url(/img/galeriaJulio/9.JPG)"></div>
        <div class="grid-item wide" style="background: url(/img/galeriaJulio/10.JPG)"></div>
    </div>
</body>
</html>